body{
    
    display: grid;
    width: 60%;
    margin: 0 auto;
    background: url('./background.jpg');
    background-size: cover;
}

header{
    background-color: #3498db;
    margin-top: 10%;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}
h1{
    padding: 0.5em 2em;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
nav{
    background-color: #333333;
}
li{
    list-style: none;
}
a:hover{
    color: rgb(178, 178, 178);
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.project{
    font-size: larger;
}
.home, .notes{
    text-decoration: underline;
    font-size: 25px;
}

.content{
    background-color: #f5f5f5;
    padding: 10px;
}

.project-item{
    display: grid;
    grid-template-columns: 3fr 4fr 3fr 2fr 1fr;
    border-bottom: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}
.note-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid black;
}

.project-item>button{
    background: url('./delete.png');
    background-size:cover;
    height: 19px;
    width: 19px;
    border: none;
}

.project-item>button:hover{
transform: scale(1.1);
cursor: pointer;
}

.item-new>button{
    border: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.note-new>button{
    border: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.High{
    background-color: #ff6666;
}

.Medium{
    background-color: #ffad99;
}

.Low{
    background-color: #66cc99;
}

footer{
    background-color: #ffffff;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px; 
}

footer>p{
    margin:0 ;
    text-align: center;
}

.pop-ups{
    display: block;
    position:absolute;
    top:50%;
    left:50%;
}

.note-new-box, .project-new-box, .item-new-box {
	background: rgba(100, 100, 100, 0.6);
	position: fixed;
	display: none;
	z-index: 9999;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.wrapper{
    max-width: 600px; 
    width: 70%; 
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(#000000, 0.4);
}

.opacity{
    opacity: 0.5;
}